<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>actionTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>testApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F1A8029193D290D00E583E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F1A8036193D290D00E583E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F30F0D1193DD63800058B82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FD35F3B193F31450052B96E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FD35F4F193F31680052B96E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
